input {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 20px;
  padding-left: 10px;
}

label {
  font-size: 20px;
}

textarea {
  border-radius: 8px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 20px;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 20px;
}

input[type="submit"]:hover {
  border-color: #646cff;
}

.submit-btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 500;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn:hover:not([disabled]) {
  border-color: #646cff;
}

.submit-btn[disabled] {
  background-color: #999;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Error text under fields */
.error-text {
  color: red;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Disabled Submit Button */
/* input[type="submit"]:disabled {
  background-color: #ccc !important;
  color: #777 !important;
  cursor: not-allowed !important;
  border-color: transparent !important;
  opacity: 0.7;
} */

/* Disabled state should NOT trigger hover effects */
/* input[type="submit"]:disabled:hover {
  border-color: transparent;
} */
